body {
	font-size: 9pt;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	font-family: Arial,Helvetica,Sans-Serif;
	color: #000000;
	background-color: #FFFFFF;
	background-image: url('');	
}
